In [1]:
import pandas as pd
import numpy as np

# Data

In [2]:
df = pd.read_csv('/Users/beyazituysal/Documents/PythonProjects/MLalgorithm/datasets/Job_Placement_Data.csv')

In [3]:
df.head()

,gender,ssc_percentage,ssc_board,hsc_percentage,hsc_board,hsc_subject,degree_percentage,undergrad_degree,work_experience,emp_test_percentage,specialisation,mba_percent,status
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ssc_percentage,215.0,67.303395,10.827205,40.89,60.600,67.0,75.700,89.40
hsc_percentage,215.0,66.333163,10.897509,37.00,60.900,65.0,73.000,97.70
degree_percentage,215.0,66.370186,7.358743,50.00,61.000,66.0,72.000,91.00
emp_test_percentage,215.0,72.100558,13.275956,50.00,60.000,71.0,83.500,98.00
mba_percent,215.0,62.278186,5.833385,51.21,57.945,62.0,66.255,77.89

In [5]:
df.shape

(215, 13)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               215 non-null    object
 1   ssc_percentage       215 non-null    float64
 2   ssc_board            215 non-null    object
 3   hsc_percentage       215 non-null    float64
 4   hsc_board            215 non-null    object
 5   hsc_subject          215 non-null    object
 6   degree_percentage    215 non-null    float64
 7   undergrad_degree     215 non-null    object
 8   work_experience      215 non-null    object
 9   emp_test_percentage  215 non-null    float64
 10  specialisation       215 non-null    object
 11  mba_percent          215 non-null    float64
 12  status               215 non-null    object
dtypes: float64(5), object(8)
memory usage: 22.0+ KB

In [7]:
 df.describe(exclude=np.number).T

                 count unique        top freq
gender             215      2          M  139
ssc_board          215      2    Central  116
hsc_board          215      2     Others  131
hsc_subject        215      3   Commerce  113
undergrad_degree   215      3  Comm&Mgmt  145
work_experience    215      2         No  141
specialisation     215      2    Mkt&Fin  120
status             215      2     Placed  148

In [8]:
df.isnull().mean()*100

gender                 0.0
ssc_percentage         0.0
ssc_board              0.0
hsc_percentage         0.0
hsc_board              0.0
hsc_subject            0.0
degree_percentage      0.0
undergrad_degree       0.0
work_experience        0.0
emp_test_percentage    0.0
specialisation         0.0
mba_percent            0.0
status                 0.0
dtype: float64

##### There are 0 null values here

In [9]:
df.columns

Index(['gender', 'ssc_percentage', 'ssc_board', 'hsc_percentage', 'hsc_board',
       'hsc_subject', 'degree_percentage', 'undergrad_degree',
       'work_experience', 'emp_test_percentage', 'specialisation',
       'mba_percent', 'status'],
      dtype='object')

In [10]:
# Showing object columns
df.select_dtypes('O').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            215 non-null    object
 1   ssc_board         215 non-null    object
 2   hsc_board         215 non-null    object
 3   hsc_subject       215 non-null    object
 4   undergrad_degree  215 non-null    object
 5   work_experience   215 non-null    object
 6   specialisation    215 non-null    object
 7   status            215 non-null    object
dtypes: object(8)
memory usage: 13.6+ KB

In [11]:
# Showing float columns
df.select_dtypes('float64').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ssc_percentage       215 non-null    float64
 1   hsc_percentage       215 non-null    float64
 2   degree_percentage    215 non-null    float64
 3   emp_test_percentage  215 non-null    float64
 4   mba_percent          215 non-null    float64
dtypes: float64(5)
memory usage: 8.5 KB

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns